@media screen and (min-width: 700px) and (orientation: landscape) {
    body {
        background-color: #f4ede5;
        font-family: Calibri, serif;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    a {
        text-decoration: none;
    }

    .header {
        background-color: white;
        display: flex;
        margin-top: 20px;
        margin-right: 10px;
        margin-left: 10px;
        height: 50px;
        justify-content: space-between;
    }

    .barBtn {
        background-color: white;
        color: grey;
        font-size: 10px;
        border-radius: 3px;
        border: 0;
        width: 40px;
        height: 40px;
        top: 5px;
        left: 10px;
        position: relative;
        transition: all .2s;
    }

    .barBtn a {
        text-decoration: none;
    }

    .barBtn:hover {
        background-color: #e0e0e0;
        border-radius: 50%;
    }

    .menuBar {
        display: flex;
        position: relative;
        z-index: 2;
        transition: all .2s;
    }


    .menuBar li {
        background-color: white;
        display: inline-block;
        margin-right: 10px;
        margin-left: 10px;
        height: 30px;
        list-style: none;
        position: relative;
        transition: all .2s;
    }

    .menuBar li a {
        font-size: 15px;
        color: grey;
        display: block;
        transition: all .2s;
    }

    .subMenu {
        z-index: 2;
        display: none;
        position: absolute;
        padding-top: 13px;
        padding-right: 17px;
        padding-left: 0;
        transition: all .2s;
        width: 120px;
        height: 100px;
        top: 30px;
        border: 2px solid white;
        border-radius: 2px;
        box-shadow: 0 0 5px grey;
        background-color: white;
    }

    .menuBar li:hover .subMenu {
        display: inline;
    }

    .searchBtn {
        background-color: white;
        color: grey;
        font-size: 10px;
        border-radius: 3px;
        border: 0;
        width: 40px;
        height: 40px;
        top: 5px;
        margin-right: 10px;
        position: relative;
        transition: all .2s;
    }

    .searchBtn:hover {
        background-color: #e0e0e0;
        border-radius: 50%;
    }
    /*.mainSection {*/
    /*    display: flex;*/
    /*    background-color: white;*/
    /*    position: relative;*/
    /*    height: 35vw;*/
    /*    margin: 10px;*/
    /*    top:-4.13vw;*/
    /*}*/
    /*#headLine {*/
    /*    font-size: 4vw;*/
    /*    position: relative;*/
    /*    display: flex;*/
    /*    width: 30vw;*/
    /*    top: 5vw;*/
    /*    left: 45px;*/
    /*}*/

    /*#buttonsDiv {*/
    /*    display: inline-block;*/
    /*    position: relative;*/
    /*    background-color: white;*/
    /*    left: 5vw;*/
    /*    top: -1vw;*/
    /*}*/

    /*#exploreBtn {*/
    /*    background-color: #f84c4c;*/
    /*    color: white;*/
    /*    font-size: 2vw;*/
    /*    border-radius: 50px;*/
    /*    border:0;*/
    /*    width: 18vw;*/
    /*    height: 4vw;*/
    /*    position: relative;*/
    /*    transition: all .2s;*/
    /*}*/

    /*#exploreBtn:hover {*/
    /*    color: black;*/
    /*    background-color: #9fcc5a;*/
    /*}*/

    /*#videoBtn {*/
    /*    background-color: white;*/
    /*    color: black;*/
    /*    font-size: 2vw;*/
    /*    border-radius: 50px;*/
    /*    border:0;*/
    /*    width: 18vw;*/
    /*    height: 4vw;*/
    /*    position: relative;*/
    /*    transition: all .2s;*/
    /*}*/

    /*#videoBtn:hover {*/
    /*    color: white;*/
    /*    background-color: grey;*/
    /*}*/

    /*#iconsDiv {*/
    /*    display: inline-block;*/
    /*    position: relative;*/
    /*    right: 33vw;*/
    /*    top: 10vw;*/
    /*}*/

    /*.icons {*/
    /*    font-size: 2vw;*/
    /*    display: inline-block;*/
    /*    padding:1vw;*/
    /*    margin: auto 0;*/
    /*}*/

    /*#mainPic {*/
    /*    width: 45vw;*/
    /*    height: 30vw;*/
    /*    position: absolute;*/
    /*    left: 46vw;*/
    /*    top: 3vw;*/
    /*}*/
}



/***********************************************************************************************************************/

@media screen and (max-width: 700px) {
    body {
        background-color: #f4ede5;
        font-family: Calibri, serif;
    }

    a {
        text-decoration: none;
    }

    .header {
        background-color: white;
        display: flex;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        justify-content: space-between;
    }

    .barBtn {
        background-color: white;
        color: grey;
        font-size: 10px;
        border-radius: 3px;
        border: 0;
        width: 40px;
        height: 40px;
        top: 10px;
        left: 10px;
        position: relative;
        transition: all .2s;
        z-index: 3;
    }

    .barBtn:hover {
        background-color: #e0e0e0;
        border-radius: 50%;
    }

    .menuBar {
        text-align: center;
        display: flex;
        position: relative;
        z-index: 2;
        transition: all .2s;
    }

    .menuBar ul {
        padding: 0;
    }

    .menuBar li {
        background-color: white;
        display: block;
        height: 30px;
        padding-top: 10px;
        width: 100px;
        list-style: none;
        position: relative;
        transition: all .2s;
    }

    .menuBar li a {
        font-size: 15px;
        color: grey;
        display: block;
        transition: all .2s;
    }

    .subMenu {
        z-index: 2;
        display: none;
        position: absolute;
        transition: all .2s;
        border: 2px solid white;
        border-radius: 2px;
        box-shadow: 0 0 5px grey;
        background-color: white;
        top: 10px;
        left: 100px;
    }

    .menuBar li:hover .subMenu {
        display: block;
    }

    .searchBtn {
        background-color: white;
        color: grey;
        font-size: 10px;
        border-radius: 3px;
        border: 0;
        width: 40px;
        height: 40px;
        top: 5px;
        margin-right: 10px;
        position: relative;
        transition: all .2s;
    }

    .searchBtn:hover {
        background-color: #e0e0e0;
        border-radius: 50%;
    }

    /*.mainSection {*/
    /*    background-color: red;*/
    /*    position: relative;*/
    /*    height: 40vw;*/
    /*    margin: 10px;*/
    /*    top: -4.13vw;*/
    /*}*/

    /*#headLine {*/
    /*    font-size: 5vw;*/
    /*    position: relative;;*/
    /*    top: 5px;*/
    /*    left: 45px;*/
    /*}*/

    /*#buttonsDiv {*/
    /*    display: inline-block;*/
    /*    background-color: purple;*/
    /*    width: 35vw;*/
    /*    height: 10vw;*/
    /*    position: relative;*/
    /*    left: 7vw;*/
    /*    top: -2vw;*/
    /*}*/

    /*#exploreBtn {*/
    /*    background-color: #f84c4c;*/
    /*    color: white;*/
    /*    font-size: 17px;*/
    /*    border-radius: 50px;*/
    /*    border: 0;*/
    /*    width: 18vw;*/
    /*    height: 4vw;*/
    /*    position: relative;*/
    /*    transition: all .2s;*/
    /*    top: 20px;*/
    /*}*/

    /*#videoBtn {*/
    /*    background-color: white;*/
    /*    color: black;*/
    /*    font-size: 17px;*/
    /*    border-radius: 50px;*/
    /*    border: 0;*/
    /*    width: 18vw;*/
    /*    height: 4vw;*/
    /*    position: relative;*/
    /*    transition: all .2s;*/
    /*    top: 30px;*/
    /*}*/

    /*#iconsDiv {*/
    /*    display: inline-block;*/
    /*    position: relative;*/
    /*    right: 15vw;*/
    /*    top: 10vw;*/
    /*}*/

    /*.icons {*/
    /*    font-size: 2vw;*/
    /*    display: inline-block;*/
    /*    padding: 1vw;*/
    /*    margin: auto 0;*/
    /*}*/

    /*#mainPic {*/
    /*    width: 32vw;*/
    /*    height: 20vw;*/
    /*    position: absolute;*/
    /*    left: 63vw;*/
    /*    top: 3vw;*/

    /*}*/
}